@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
}
body{
    position: relative;
}
.clear::after{
    content: '';
    clear: both;
    box-sizing: ;
    display: block;
}
/* color 
bg icon- #22c3a3
p.. #737373

*/
.fix-width{
    width: 95%;
    margin: 0 auto;
}
.fix-btn{
    line-height: 50px;
    padding: 0 20px;
    border-radius: 50%;
    position: fixed;
    top: 550px;
    right: 20px;
    color: #fff;
    background: #22c3a3;
}

.header-menu{
    background: #22c3a3;
    height: 70px;

}

.header-menu .logo{
   cursor: pointer;
    float: left;

}
.header-menu .logo a{
    padding: 0px 50px;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    line-height:70px;

    color: #fff;
    font-family: serif;
}

.header-menu .menu{
    float: right;
    margin-right: 40px;
}

.header-menu .menu ul{
    display: inline-block;

}
.header-menu .menu ul li{
    display: inline-block;
}
.header-menu .menu ul li a{
    line-height: 70px;
    color:#ddd;
    padding: 0 15px;
    font-family: serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.header-menu .menu ul li a:hover{
    color: rgb(227, 240, 241);
}


/* ..................... */

.banner{
    background: url(https://i.ibb.co/DV5Kgnf/header-bg01.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 170px 0;
    margin-bottom: 50px;
}
.banner h1{
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 550;
}

.banner h5{
    color: #ddd;
    padding: 15px 0;
}
.banner a{
    text-decoration: none;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
}
.banner a:hover{
    color: #fff;
}



/* .................... */

.service{
    margin: 70px auto;
    text-align: center;
}
.service h1{
    color: rgb(87, 84, 84);
    padding-bottom: 15px;
}

.service p{
    color:  #737373;
}


.service-section{
    width: 100%;
    margin: 0 auto !important;
    text-align: center;
    padding-left: 140px;
    margin-bottom: 70px !important;

}
.service-section .web{
    width: 20%;
    float: left;
    
}

.service-section .graphic{
    width:20%;
    float: left;
}

.service-section .app{
    width: 20%;
    float: left;
}
.service-section .digital{
    width: 20%;
    float: left;
}

.service-section .all{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.service-section .all i{
    font-size: 30px;
    color: #22c3a3;
    display: inline-block;

}
.service-section .all h2{
    color:#576063;
    padding: 10px 0;
}
.service-section .all p{
    color:#636e72;
}


/* ................ */



hr{
    background: #22c3a3;
    width: 100%;
    border: none;
    height: 4px;
    margin: 50px 0;

}


/* ..................... */


.content{
    margin: 70px auto;
    text-align: center;
}
.content h2{
    color: rgb(87, 84, 84);
    padding-bottom: 15px;
}

.content p{
    color:  #737373;
}

img{
    max-width: 100%;
}
.pp{
    color: #636e72;
}
.ppp{
    color: #737373;
}
.about-section{
    margin: 50px 0;
}

.potho{
    float: left;
    width: 45%;
    height: 300px;
    margin-left: 70px;

}
.potho img{
    width:90%;
    display: inline-block;
    height: 300px;
}
.conteiner{
    margin-right: 200px;
}

/* ------------ */


.contact{
    margin: 70px auto;
    text-align: center;
}
.contact h2{
    color: rgb(87, 84, 84);
    padding-bottom: 15px;
}

.contact p{
    color:  #737373;
}

.main-contact{
    padding-top: 10px;
    background: #f6f6f6;

}

.address{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
    /* display: flex; */
}
.al i{
    font-size: 22px;
    color: #22c3a3;
    padding: 10px 0;
}
.al span{
    color: #737373;
    font-size: 18px;
}
.address .div1{
    width: 33%;
    text-align: center;
    float: left;
}
.address .div2{
    width: 33%;
    text-align: center;
    float: left;
  }
  .address .div3{
    width: 33%;
    text-align: center;
    float: right;
  }


/* ------------- */

.socil-icon{
    text-align: center;
    padding: 20px 0;
    background: #22c3a3;
}
.socil-icon a{
    padding: 0 10px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}


.footer{
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    color: rgb(121, 115, 115);
    background: #222222;
}




